[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pyjwt = "*"
django-cors-headers = "*"
django-sendgrid = "*"
django-sendgrid-v5 = "*"
certifi = "*"
resend = "*"

[dev-packages]

[requires]
python_version = "3.10"
